body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  height: 100%;
  width: 100%;
}

body, html, #navbar {
  background: url('../images/spectra-background.jpg');
   background-size: fixed;
   background-repeat: no-repeat;
}

/*@media screen and (min-width: 768px) {
  body, html, #navbar {
    background-repeat: no-repeat;
    background-size: fixed;
  }
}
*/

/* HEADER */

.navbar-fixed-top {
 border-width: 0;
}

.navbar {
  font-family: ostrich_font;
  letter-spacing: 2px;
}


/* Small */
@media screen and (min-width: 768px) {
  .navbar-fixed-top .navbar-nav {
    width: 100%;
  }

  .navbar-nav h3 {
    margin-top: 45px;
  }
}


.navbar-fixed-top .navbar-nav li {
  text-align: center;
  padding-bottom: 10px;
}

.navbar-fixed-top .navbar-nav a {
  padding: 0px 0px 10px 4px;
  color: #ffffff;
  border-bottom: 1px solid transparent;    
  transition: 0.5s ease;
}

.navbar-fixed-top .navbar-nav li:hover a,
.navbar-fixed-top .navbar-nav li.active a {
  border-bottom: 1px solid #ffffff;
  text-decoration: none;
  /*color: #7976b7;*/
}

/* CUSTOM FONT */

@font-face {
  font-family: ostrich_font;
  src: local(ostrich_font), url('../fonts/ostrich-regular.ttf') format('opentype');
}

/* LOGO */

.intro {
  display: table;
  height: 75%;
  width: 100%;
}

/* Small */
@media screen and (min-width: 768px) {
  .intro {
    height: 100%;
  }

  .intro-body #mc_embed_signup_scroll p{
    margin-top: 0;
  }
}

.intro-body {
  display: table-cell;
  padding-top: 75px;
  vertical-align: middle;
}

.intro-body #signup {
  padding-top: 0;
}


h2 {
  color: #fff;
  font-family: ostrich_font;
  letter-spacing: 6px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 36pt;
  }

  p {
    font-size: 20px;
  }
}

h3 {
  color: #fff;
  font-family: ostrich_font;
  letter-spacing: 4px;
  font-size: 24px;
}
#location h3 {
  padding-bottom: 30px;
}

/* CONTENT */

.content-section {
  min-height: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Small */
@media screen and (min-width: 768px) {
  .content-section {
    padding-top: 120px;
  }
}

.content-section p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin: 25px 0;
}

.overlay{
  position:inherit;
  background: url('../images/spectra-background.jpg');
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.content-section-overview {
  /* border-top: 10px solid indigo; */
}

.content-section-faq {

}

.content-section-location {

}

.content-section-schedule {

}

.content-section-team {
  color: white;
}

.content-section-team img {
  margin: 0 auto;
}

.content-section-register {

}

/* HACKATHON */

#hackathon h2 {
  margin-bottom: 50px;
}

/* FAQ */

ul {
  list-style: none;
  color: #fff;
}

#faq .header {
  margin-bottom: 20px;
}

.faq-card {
  background-color: rgba(0, 0, 0, .5);
  border-width: 2px;
  margin: 0 20px 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Small */
@media screen and (min-width: 768px) {
  .faq-card {
    margin: 0 0 20px;
  }
}

.faq-card p {
  color: #fff;
  font-size: 16px;
  text-align: left;
  padding: 0 20px;
/*  border-style: solid;*/
}

.faq-card a {
  color: #fff;
}

.faq-card a:hover {
  color: #7976b7;
  text-decoration: none;
}

/* MAP */

#map {
  float: none;
  height: 500px;
  margin: 25px auto;
}

/* INPUT, BUTTONS */

#mce-EMAIL {
  width: 350px;
}

/*iPhone < 5*/
@media screen and (device-aspect-ratio: 2/3) {
    
    #mce-EMAIL {
      width: 350px;
    }

}

/*iPhone 5 & 5S Portrait & landscape:*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
    #mce-EMAIL {
      width: 350px;
    }
}

/*iPhone 6 & 6S*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { /* STYLES GO HERE */}

      #mce-EMAIL {
      width: 350px;
    }
}

/*iPhone 6 Plus:*/
@media screen and (device-aspect-ratio: 16/9) {
    
    #mce-EMAIL {
      width: 350px;
    }

}

/*iPad:*/
@media screen and (device-aspect-ratio: 3/4) {

      #mce-EMAIL {
      width: 350px;
    }
}



#mce-EMAIL, .submit, .button {
  font-family: ostrich_font;
  font-size: 24px;
  letter-spacing: 4px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1px solid #ffffff;
  margin: 10px;
  padding: 10px 20px;
  position: center;
  transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}

.submit {
  background: url("../images/arrow.png") no-repeat center;
  background-size: contain;
  font-family: "Roboto";
  height: 56px;
  width: 56px;
  margin: 10px 10px 10px -66px !important;
  padding: 10px !important;
  position: absolute;
}

.button {
  margin-left: -4px;
}

#mce-EMAIL:focus, #mce-EMAIL:active, #mce-EMAIL:focus:active, #mce-EMAIL:hover, .button:hover {
  outline: #ffffff;
  box-shadow: 0 0 6px #ffffff;
  -webkit-box-shadow: #7976b7;
  -moz-box-shadow: #7976b7;
}

.submit:focus, .submit:active, .submit:focus:active, .button:focus, .button:active, .button:focus:active {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.submit:hover {
  background: url("../images/arrow_hover.png") no-repeat center;
  background-size: contain;
}

.buttons {
  margin: auto;
  text-align: center;
}

/* Small */
/*@media screen and (max-width: 768px) {
  #mce-EMAIL {
    font-size: 18px;
    width: 250px;
  }

  .submit {
    height: 47px;
    width: 47px;
    margin: 10px 10px 10px -57px !important;
  }

  .button {
    margin-left: 0px;
  }
}*/

/*For smart phones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 450px) {
  #mce-EMAIL {
    font-size: 18px;
    width: 200px;
  }

  .submit {
    height: 47px;
    width: 47px;
    margin: 10px 10px 10px -57px !important;
  }

  .button {
    margin-left: 0px;
  }
}



/*For desktops / Laptops*/
@media only screen  and (min-width : 1224px) {
  #mce-EMAIL {
    font-size: 18px;
    width: 400px;
  }

  .submit {
    height: 47px;
    width: 47px;
    margin: 10px 10px 10px -57px !important;
  }

  .button {
    margin-left: 0px;
  }


}


#mc-embedded-subscribe {
  padding: 8px 20px;
}

/* FOOTER */

footer {
  color: white;
  padding: 30px 0;
}

footer ul {
  list-style: none;
  overflow: hidden;
}

footer ul li {
  float: left;
}

footer a:hover {
  color: white;
}

footer a {
  color: white !important;
  font-size: 20px;
  margin-right: 20px;
}

.social-icons {
 float: initial;
 font-family: ostrich_font;
 font-size: 18px;
 /*left: 40px;*/
 letter-spacing: 4px; 
 
}

.social-icons .link {
  margin-right: 0;
}

.social-icons a {
  font-size: 25px;
  text-decoration: none !important;
}

/* Small */
@media screen and (min-width: 768px) {

  footer .social-icons {
    float: initial;
    font-size: 25px;
  }

  footer .social-icons a {
    font-size: 30px;
  }

  footer .copyright-container {
    display: inline;
    margin-left: 20px;
  }
}

.copyright {
  font-weight: 100;
  font-family: "Roboto";
}

/*Team Page*/

div.img {
 /* border: 1px solid #ccc;*/
  float: left;
  margin: 10px;
  width: 200px;
}

div.img img {
  width: 100%;
}
/*
div.img:hover {
  border: 1px solid #666;
}*/

/*div.name {
  font-family: "Arial";
  padding: 5px;
  text-align: center;
}*/

div.role {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 100;  
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  font-family: "Roboto";
  padding: 10px;
}

/*Image Hovers*/

.hover figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .1s ease-in-out;
}
.hover figure:hover img {
	opacity: .5;
}

.hover .text p {
	color: white;
	font-size: 15px;
	position:relative;
	bottom:100px;
	left:0px;
	visibility:hidden;
    -webkit-transition: .1s ease-in-out;

}

.hover:hover .text {
visibility:visible;
}

/*Team Photos*/
.img-circle {
    border-radius: 50%;
     width: 150px;
}

/*Making Placeholder text center*/
::-webkit-input-placeholder {
   text-align: center;
   color: white;

}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
   color:; white; 
}

:-ms-input-placeholder {  
   text-align: center; 
   color: white;
}
.data-scroll a{
  color: white; 
  text-decoration: none;

}

#location img {
  margin-bottom: 10px;
  margin-top: -20px;
}
}

